page-nuovo {
    ion-item h2, ion-item button, ion-item i{
        color: blue;
    }

    .item-type{
        font-size: 30px;
        padding: 24px;
    }

    .toSpend, .toSpend p, .toSpend button{
        color: blue;
    }

    .spent{
        color:gray;
    }

    .item-right{
        font-size: 25px
    }

    .spent .item-right{
        text-decoration: line-through;
    }
    button{
        background-color: transparent;
    }
}
