<ion-header>
        
        <ion-navbar color="blue-header">
            <ion-title text-left *ngIf="title != 'img'">
               {{title}}
            </ion-title>
            <ion-title text-left *ngIf="title == 'img'">
                <img style="height: 100%;vertical-align: middle;" src="../../assets/img/logo_50.png">18app
            </ion-title>
            <ion-buttons start style="margin-right:0">
              <button ion-item icon-only color="royal" class="transparent" no-lines>
                <h1 style="font-size:15px">Credito</h1>
                <p style="font-size:15px;font-weight:bold">{{user.credito}}€</p>
              </button>
            </ion-buttons>
            <ion-buttons end>
              <button style="padding:0" ion-item icon-only color="royal" class="transparent" no-lines menuToggle>
                <ion-icon item-right name="person" no-padding></ion-icon>
                <ion-badge item-end color="danger">2</ion-badge>
              </button>
            </ion-buttons>
          </ion-navbar>
        
    </ion-header>