nearby {
    font-family: "Titillium Web", sans-serif;
    font-weight: 800 !important;
    color: map-get($colors, primary);
    
    button h2, button p{
        color: blue !important;
    }
    button h2{
            font-weight: bold !important;
            font-size: 20px !important;
    }
    
    .item-type{
        font-size: 30px;
        padding: 24px;
    }

    .toSpend, .toSpend p, .toSpend button{
        color: blue;
    }

    .spent{
        color:gray;
    }

    .item-right{
        font-size: 25px
    }

    .spent .item-right{
        text-decoration: line-through;
    }
    .item-buoni .buoni-button{
        background-color: transparent;
    }
}