<ion-menu side="right" [content]="content" id="menu">
  <ion-toolbar>
    <ion-title>{{user.name}} {{user.lastname}}</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Credito<br>{{user.credito}}€</ion-title>
  </ion-toolbar>

  <ion-content style="background: #2079d4; margin-top:115px" >
    <ion-list>
      <!-- remember the `this.pages` object we created in `app.js`?
      // Iterate through, then when clicked, run the associated function
      // passing in the #p item. -->
      <button style="font-size:20px; font-weight:200" color="primary" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon>&emsp;
        {{p.title}}
        <ion-badge item-right *ngIf="p.title == 'Notifiche'" color="danger">2</ion-badge>
      </button>
    </ion-list>
  </ion-content>
          
</ion-menu>


<ion-nav #content [root]="rootPage"></ion-nav>